.page {
  padding: 16px 16px 96px 16px;
}

.section-container {
  width: unset !important;
  // min-height: unset !important;
  padding: 16px;
  margin: 16px;
  background: #ffffff;
  border-radius: 8px;
  // margin-bottom: 24px;
}

.zaui-header {
  position: sticky;
  height: auto;
  margin-bottom: 0;
  flex: none;

  &::after {
    display: none;
  }
}

.page-c {
  padding: 16px;
}

.zaui-list-item {
  cursor: pointer;
}

.zaui-select-panel {
  max-height: 50vh;
}
